extends layout.pug

block content
  <h1>Recherche restaurant</h1>

  form(action='/displayRestoByCuisineAndborough', method='POST')
    span
      | Type de cuisine: 

    select(name="cuisine")
        each cuisine in typeCuisine
            option(value=cuisine ) #{cuisine}
    br
    span
      | Quartier: 

    select(name="borough")
        each b in borough
            option(value=b) #{b}
    br
    input(type='submit', value='Rechercher')